*{
    padding: 0%;
    margin: 0%;
}

html, body{
    height: 100%;
    background-color: pink;
}

.outer-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    background-color: aliceblue;
    padding: 5%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 7% ;
}


.inner-div{
    display: flex;
    flex-direction: row;
}

button{
    padding: 5%;
    margin-right: 10%;
    
}

